<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ./head.ejs %>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/users/home" class="brand-logo left home">XobproD</a>
      <a href="#" data-target="slide-out" class="show-on-large sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <!-- <li><a nohref><i class="material-icons">search</i></a></li> -->
        <!-- <li><a nohref><i class="material-icons">view_module</i></a></li> -->
        <!-- <li><a nohref><i class="material-icons">refresh</i></a></li> -->
        <li><a href="/users/upload"><i class="material-icons">cloud_upload</i></a></li>
        <li><img class="imgnav" src="https://i.imgur.com/W0oIDcS.png"></li>
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav menu">
    <li>
      <div class="user-view">
        <div class="dot">
          <img src="https://i.imgur.com/W0oIDcS.png">
        </div>
    <li>
      <!-- <a href="#name"><span class="white-text name">Name User</span></a> -->
    <li><a href="/register">New user</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

  <% if(typeof message != 'undefined'){ %> <% message.forEach(function(message) { %>
  <div class="row center">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Upload - Status</span>
          <p><%= message.msg %></p>
        </div>
      </div>
    </div>
  </div>
  <% }); %> <% } %>