<section class="row">
  <form method="POST" action="/media/search" class="row">
    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">title</i>
        <input id="title" name="title" type="text" required />
        <label for="title">Título</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">movie</i>
        <select id="typeMedia" name="typeMedia">
          <option value="movie">Filme</option>
          <option value="tv">Série</option>
          <option value="3">Audio</option>
        </select>
        <label for="typeMedia">Tipo</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">language</i>
        <select id="language" name="language">
          <option value="pt-BR">Português</option>
          <option value="en-US">Inglês</option>
          <option value="es">Espanhol</option>
        </select>
        <label for="language">Idioma</label>
      </div>
    </div>

    <div class="center-align">
      <button
        class="btn waves-effect waves-light"
        type="submit"
        name="pesquisa"
      >
        Pesquisar
        <i class="material-icons right">search</i>
      </button>
    </div>
  </form>
</section>

<script>
  $(document).ready(function () {
    $("select").formSelect();
  });
</script>