<%- include('particles/baseLoggedOut') %>

<div class="row index-color">
  <div class="center-align">
    <h4 class="center-align">Ops 😢</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="center-align">
      <img src="https://httpstatusdogs.com/img/404.jpg" alt="404_dog">
    </div>
  </div>
</div>

</body>
</html>