<!DOCTYPE html>
<html lang="pt-br">
  <body>
    <video id="videoPlayer" class="video" controls autoplay>
      <source src="/media/stream/<%= idFile %>" type="video/mp4" />
    </video>
  </body>
</html>
